/* ==========================================================================
   Global fonts
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body, main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  color: white;
}

.card {
  background-color: hsl(216, 50%, 16%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 345px;
  height: 610px;
  padding: 0 20px;
  border-radius: 15px;
  box-shadow: 20px 20px 20px hsl(217deg 50% 10%);
}

.main-image {
  position: relative;
  width: 345px;
  height: auto;
  border-radius: 18px;
}

.card-text h1 {
  margin: 10px 0;
  font-size: 25px;
  font-weight: 400;
}

.card-text p {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

/* .nft-bid {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} */

.bid-amount {
  color: #00fff7;
  font-weight: 600;
  justify-content: space-between;
}

.bid-time {
  color: #00fff7;
  font-weight: bolder;
  justify-content: space-around;
}

.flex {display: flex; justify-content: space-between;}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
