/* ==========================================================================
   Google font import
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* ==========================================================================
   Global CSS styling
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
main {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  color: white;
  height: 100vh;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}
h1:hover {
  color: #00fff8;
  transition: 0.5s ease;
  cursor: pointer;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.card {
  background-color: hsl(216, 50%, 16%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 596px;
  padding: 24px;
  border-radius: 15px;
  box-shadow: 20px 20px 20px hsl(217deg 50% 10%);
}

.image-wrapper {
  width: 302px;
  height: 302px;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 28px;
  left: 24px;
  right: 24px;
  padding: 24px;
  height: 302.5px;
  width: 302px;
  border-radius: 8px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #00fff8;
}

.icon {
  position: absolute;
  top: 28px;
  left: 24px;
  right: 24px;
  padding: 24px;
  height: 302.5px;
  width: 302px;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url(../images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
}

.image-wrapper:hover .icon {
  opacity: 1;
  cursor: pointer;
}

.image-wrapper:hover .overlay {
  opacity: 0.75;
  cursor: pointer;
}

.main-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.text-wrapper {
  border-bottom: 2px solid hsl(215, 32%, 27%);
  padding-bottom: 24px;
  margin-bottom: 16px;
}

.text-wrapper h1 {
  margin: 10px 0;
  font-size: 25px;
  font-weight: 400;
}

.text-wrapper p {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.eth-bid::before {
  content: url(../images/icon-ethereum.svg);
  padding-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

.eth-bid {
  color: #00fff7;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.bid-time::before {
  content: url(../images/icon-clock.svg);
  padding-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

.bid-time {
  color: #8bacd9;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.card-footer {
  display: flex;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.card-footer p:hover {
  color: #00fff8;
  transition: 0.5s ease;
  cursor: pointer;
}

.card-footer img {
  position: absolute;
  text-align: left;
  left: 6.86%;
  right: 83.71%;
  top: 90.5%;
  bottom: 5.37%;
  width: 33px;
  height: auto;
  background: url(//images/image-avatar.png);
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
}

.card-footer span {
  color: hsl(215, 51%, 70%);
}

.attribution {
  margin-top: -20px;
  align-items: center;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
